.hero-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
}

.hero {
  background-color: $white-color;
  padding: 60px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-button {
  background-color: $main-color;
  color: $white-color;
  text-decoration: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 8px;

  &:hover {
    background-color: $second-color;
    color: $white-color;
  }
}