$main-color: rgb(133, 55, 133);
$second-color: rgb(106, 83, 188);
$text-color: rgb(71, 28, 83);
$white-color: rgb(247, 244, 247);
$light-color: rgb(187, 156, 198);
$dark-color: rgb(39, 20, 44);
$border-color: rgb(220, 207, 224);
$border-radius: 16px;
$section-padding: 80px;
$main-font: Arial, sans-serif;
